.weather-forecast {
    padding: 30px;
}

input[type=text] {
    height: 50px;
    width: 500px;
    border: 2px solid white;
    border-radius: 25px;
    padding: 15px;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: white;
    background-color: transparent;
    outline: none;
}

::placeholder {
    color: white;
    opacity: 1;
}

:-ms-input-placeholder {
    color: white;
}

::-ms-input-placeholder {
    color: white;
}

button {
    background-color: #00C9AA;
    border: none;
    border-radius: 30px;
    height: 50px;
    min-width: 200px;
    padding: 10px 30px;
    color: white;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    outline: none;
}

input[type=text]:hover,
button:hover {
    cursor: pointer;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.25), 0 17px 50px 0 rgba(0, 0, 0, 0.20);
}

.form-input {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.form-radio {
    display: grid;
    grid-gap: 20px;
    justify-content: center;
    margin: 50px 0;
}

.form-btn {
    margin-top: 50px;
}

.radio-btn {
    display: flex;
    align-items: center;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 16px;
    text-align: left;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.radio-btn input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}

.radio-btn:hover input ~ .checkmark {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.5), 0 17px 50px 0 rgba(0, 0, 0, 0.25);
}

.radio-btn input:checked ~ .checkmark {
    background-color: #00C9AA;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.radio-btn input:checked ~ .checkmark:after {
    display: block;
}

.radio-btn .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}
