.App {
  background-image: linear-gradient(to bottom, #4a4d58, #454650, #403f48, #3b3840, #353238);
    color: white;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    text-align: center;
    font-size: 14px;
}

main {
    flex-grow: 1;
    padding: 25px;
}

footer {
    padding: 2px;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    font-size: small;
    text-align: center;
}

